
.button-success {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 270px;
    height: 80px;
    background-color: rgb(87, 243, 40)
}

.button-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 270px;
    height: 80px;
    background-color: rgb(250, 238, 77)
}

.button-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 270px;
    height: 80px;
    background-color: rgb(238, 79, 74)
}